/* General layout */

body {
    margin: 0;
    background-image: url('./Grass.jpg');
    background-size: 1440px 800px;
    background-repeat: no-repeat;
}

label my-textarea {
    background: white;
}