/* General layout */

body {
    margin: 0;
    background-image: url('./Grass.jpg');
    background-size: 100%;
    background-repeat: repeat-y;
}

nav {
    top: 0;
    position: fixed;
    overflow: hidden;
}


/* Makes sure body is not eaten by nav */

main {
    padding-top: 65px
}

footer {
    width: 100%;
    margin: auto;
    text-align: center;
}

#profile-pic {
    padding: 25px 25px 25px 25px;
}

form label {
    background-color: white;
    color: darkgreen;
}

form {
    padding: 40 40 40 40;
}

#aboutme {
    margin-bottom: 25px;
}

p {
    padding: 15px 25px 15px 25px;
}


/* Portfolio card formatting  */

.card {
    width: 100%;
    max-width: 75%;
    margin-top: 10%;
    margin-bottom: 10%;
    background: transparent;
}

.card-img {
    width: fill;
    margin: 0;
    max-width: inherit;
}

.card-title {
    text-align: center;
    background-color: rgba(15, 252, 15, 0.192);
    color: white;
    margin-bottom: 0;
}