/* General layout */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    margin: auto;
    background-image: url('./Grass.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    top: 0;
    position: fixed;
    overflow: hidden;
}


/* Makes sure body is not eaten by nav */

main {
    padding-top: 65px
}

footer {
    width: 100%;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

#profile-pic {
    padding: 25px 25px 25px 25px;
}

#aboutme {
    margin-bottom: 10px;
}

p {
    padding: 15px 25px 15px 25px;
}


/* Portfolio card formatting  */

.card {
    max-width: fit-content;
    margin-top: 10%;
    margin-bottom: 10%;
    background: transparent;
}

.card-img {
    width: fill;
    margin: 0;
    max-width: inherit;
}

.card-title {
    text-align: center;
    background-color: rgba(15, 252, 15, 0.192);
    color: white;
    margin-bottom: 0;
}

#contactFormat {
    padding-left: 50px;
    padding-right: 50px;
    width: fill;
}